.Photo{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: flex-start;
    align-content: space-around;
  

}
.Photo>img:hover{
    transform: scale(1.5);
}

.Photo > img {
    width: 25%;
    height: 30vh;
    margin: 3%;
    border: solid 2px silver;
}