.contact{
    background-image: url("https://st.hzcdn.com/simgs/18e1d30a0b51f353_9-6455/home-design.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.contactForm{
    background-color: white;
    padding: 50px;
}
.contactInfo{ 
   padding: 50px;
    background-color: white;
}